/* 
    Document   : imageMapperDisplay
    Created on : May 21, 2013, 2:35:20 PM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/
.msm_imagemapper_containers
{
    padding: 2px 2%;
}

.msm_image_accordiondivs
{
    position: relative;
    /*border: 1px solid blue;*/
    /*background-color: white;*/
}
/*
.msm_image_infodivs
{
    border: 1px solid red;
    position: relative;
    background-color: white;
}*/

.msm_image_divs
{
    /*border: 1px solid green;*/
    position: relative;
    /*width: 95%;*/
    background-color: white;
    padding: 2%;
}

.msm_image_divs img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.msm_image_des_inputs
{
    width: 90%;
}

.msm_img_saveButtons
{
    width: 5%;    
    margin: 2% 25%;
}

.msm_img_cancelButtons
{
    width: 5%;
    margin: 2% 10%;
}
.msm_imagemap_formdivs
{
    margin-top: 1%;

}
.msm_imagemap_formdivs fieldset
{
    background-color: white;
}
.msm_imagemap_radiuss
{
    width: 95%;
}
.msm_imagemap_circledivs h4
{
    margin: 1% 0;
}
.msm_imagemap_circledivs input
{
    margin-bottom: 1%;
}