/* 
    Document   : MsmDisplay
    Created on : Jul 3, 2012, 1:55:25 PM
    Author     : Ga Young Kim
    Description:
        Purpose of the stylesheet follows.
*/

body
{
    overflow: auto;
    overflow-y: scroll;
    margin:0;
    padding:0;
    height:100%;
    width:100%;    
    z-index:0;
}

/*body table, body td{
    border-collapse: separate;
    border-spacing: 2px;
    border:none;
}*/

/*controller for the jShowoff plugin*/

div.controller{
    position:absolute;
    top: 92%;
    min-width: 96%;
    max-height: 35px;
    z-index: 11;
    /*    margin-top: 10px;*/
    /*    margin-left: 10px;*/
    overflow: hidden;
}

/*-----------------------------------------------------------------------------*/
/*css needed for the jSplitter plugin*/

#MySplitter {
    min-width: 542px;
    min-height: 720px;
    max-width: 100%;
    max-height: 100%;
    background-image:url('../pix/background.jpg');
    opacity:0.95;
    filter:Alpha(opacity=95);
}

/*#MySplitter div {
    overflow: auto;
}*/
.vsplitbar {
    min-width:0.5%;
    max-width:0.5%;
    height:100%-2px;
    cursor: col-resize;
    background: #FFFFFF;
}
/*-----------------------------------------------------------------------------*/

/*leftbox and rightbox classes are for the faded background in display*/

.leftbox
{
    background-image:url('../pix/background2.jpg');
    min-height: 650px;
    max-height: 650px;
    width:97.5%;
    overflow: auto;
}
.rightbox
{
    background-image:url('../pix/background2.jpg');
    min-height: 690px;
    width:96%;
    padding: 5px;
    /*    overflow: hidden;*/
}

/*leftcol and rightcol are the divs in MySplitter element*/

.leftcol
{
    /*    overflow: hidden;*/
    margin-bottom:10px;
    margin-right:10px;    
    padding:10px;
}

.rightcol
{
    /*    overflow: auto;*/
    padding-top:10px;
    padding-left:10px;
}

#features .title
{
    /*    overflow: hidden;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: large;
}

/*for creating double border look*/

.ridge {
    /*    overflow: hidden;*/
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-top-style: double;
    border-bottom-style: double;
    border-top-color: #773322;
    border-bottom-color: #773322;
    padding: 8px 0px;
}

/* for creating a border that looks like polaroid*/

.snapshot {
    /*    overflow: hidden;*/
    border: 1px solid #666666;
    padding: 10px 10px 60px 10px;
}

#features .date
{
    /*    overflow: hidden;*/
    font-size: 12px;
    text-align: right;
    margin-right: 5px;
}

#features .author{
    /*    overflow: hidden;*/
    font-size: 12px;
    text-align: center;
    margin-right: 5px;
}

#features .content
{
    /*    overflow: hidden;*/
    font-size:14px;
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0px;
}

.hottag
{
    /*    overflow: hidden;*/
    color: #229C79;
}

.hottag:hover
{
    cursor: pointer;
    color:blue;
}

.def
{
    width: 90%;
    background-color: #FF6140;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.defcontent
{
    margin-top: 5px;
    /*    margin-bottom: 5px;*/
    border: 2px solid black;
    background-color: white;
}

span.deftitle
{
    /*    font-size: 12px;*/
    font-weight: bold;
    color: white;
    float: right;   
}

span.deftype
{
    /*    font-size: 12px;*/
    font-weight: bold;
    color: white;
    float: left;
}

.theoremcontent
{
    margin-top: 5px;
    /*    margin-bottom: 5px;*/
    border: 2px solid black;
    background-color: white;
}

.theorem
{
    width: 90%;
    background-color: #A61D00;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

span.theoremtitle
{
    /*    font-size: 12px;*/
    font-weight: bold;
    color: white;
    float: right;   
}

span.theoremtype
{
    /*    font-size: 12px;*/
    font-weight: bold;
    color: white;
    float: left;
}

span.parttheoremtitle
{
    font-weight: bold;
    color: black;
    font-size: 14px;
    margin-left: 10px;
}

.defminibuttons
{
    background-color: #FF6140;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    float:top;
}
.defminibutton
{
    border:1px solid #858181;
    background-color: #FF6140;
    background-origin:border-box;
    display:inline-block;
    margin-left:5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    padding:0px 7px;
    text-decoration:none;
    float:left;
}

.defminibutton:hover
{
    background-color:#2DD6D6;
}

/* for associates that is associated with the theorem */
.minibuttons
{
    background-color: #A61D00;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    float:top;
}
.minibutton
{
    border:1px solid #858181;
    background-color: #A61D00;
    background-origin:border-box;
    display:inline-block;
    margin-left:5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    padding:0px 7px;
    text-decoration:none;
    float:left;

}
.minibutton:hover
{
    background-color:#6060B5;
}

table.matharray
{
    border: none;
    width: 200px;
    text-align: center;
}

.mathtable, .mathtable td
{
    /*    border: 1px solid maroon;*/
    border-color: maroon;
    border-collapse: separate !important;
    border-spacing: 2px;
    /*    max-width: 90%;*/
}/*

.dialogs table, td{
    border: 1px solid maroon;
    border-collapse: separate;
    border-spacing: 2px;
}*/

.comment
{
    width: 90%;
    background-color: #0F900F;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.commentcontent
{
    margin-top: 5px;
    /*    margin-bottom: 5px;*/
    border: 2px solid black;
    background-color: white;
}

span.commenttitle
{
    /*    font-size: 12px;*/
    font-weight: bold;
    color: white;
    float: right;   
}

span.commenttype
{
    /*    font-size: 12px;*/
    font-weight: bold;
    color: white;
    float: left;
}

.commentminibuttons
{
    background-color: #0F900F;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    float:top;
}
.commentminibutton
{
    border:1px solid #858181;
    background-color: #0F900F;
    background-origin:border-box;
    display:inline-block;
    margin-left:5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    padding:0px 7px;
    text-decoration:none;
    float:left;
}

.commentminibutton:hover
{
    background-color:#21B468;
}

img.mathimage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.proofbutton
{
    border:1px solid #858181;
    background-color: #A61D00;
    background-origin:border-box;
    display:inline-block;
    margin-left:5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    padding:0px 7px;
    text-decoration:none;
    float:left;

}
.proofbutton:hover
{
    background-color:#6060B5;
}

.extrainfo
{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.extrainfocontent
{
    margin-top: 5px;
    border: 2px solid black;
    background-color: white;
}

span.extrainfocaption
{
    font-weight: bold;
    color: black;
    float: right;   
}

span.extrainfoname
{
    font-weight: bold;
    color: black;
    float: left;
}