/* 
    Document   : slideNav
    Created on : Sep 28, 2012, 10:47:54 AM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    right: 10px;
    list-style: none;
    z-index:999999;
    width:721px;
}
ul#navigation li {
    width: 103px;
    display:inline;
    float:left;
}

ul#navigation li a {
    display: block;
    float:left;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    height: 40px;
    background-color:#FFFFAA;
    background-repeat:no-repeat;
    background-position:50% 45px;
    border:1px solid #FFFF00;
    text-decoration:none;
    text-align:center;
    padding-top:10px;
    padding-bottom: 10px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    opacity: 0.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

/*ul#navigation .toc a{
    background-image: url(images/toc.png);
}
ul#navigation .author a      {
    background-image: url(images/author.png);
}
ul#navigation .symbol a      {
    background-image: url(images/math.png);
}
ul#navigation .glossary a      {
    background-image: url(images/glossary.png);
}
ul#navigation .biblio a   {
    background-image: url(images/biblio.png);
}
ul#navigation .contact a    {
    background-image: url(images/yellow_mail.png);
}*/

ul#navigation li a:hover{
    background-color:#FBEC5D;
}

ul#navigation li a span{
    letter-spacing:2px;
    font-size:12px;
    color:#1F9713;
    text-shadow: 0 -1px 1px #fff;
    padding-bottom: 30px;
}

/*----------------------for sliding panel-----------------------------*/

.panel
{
    overflow: auto;
    position: fixed;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 0px;
    top: 0px;
    right: 10px;   
    border: 2px green;
    padding-right: 10px;
    padding-left: 10px;
    background-color:lightgreen;
    width: 50%;
    height: auto;
}
.panel .slidepanelcontent
{    

    width: 95%;
    margin: 10px;   
    background-color: white;
    height:auto;
}
